/* Violation View */
.violation-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, #056D99 0%, rgba(5, 109, 153, 0) 28.13%);
    overflow: hidden;
}

.content-pane {
    /* Content Pane */
    width: 1249.75px;
    height: 824px;
    background: #D1CCDC;
    border: 0.3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.param-pane {
    /* Violation Rect */

    width: 1143.9px;
    height: 274.67px;
    box-sizing: border-box;
    background: #D1CCDC;
    border: 0.5px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.heading2 {
    /* Speeding Violation */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 10px;
}

.body-text {
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px
}

.heading-group {
    margin-left: 75px;
    display: flex;
    flex-direction: row;
}

.heading1 {
    /* Violation */
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* identical to box height */
    color: #000000;
    background: #D1CCDC;
    border: #D1CCDC;
    cursor:pointer;
}

.heading1-selected {
    /* Violation */
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* identical to box height */
    color: #000000;
    text-decoration:underline;
    text-decoration-color: rgba(0,0,0,0.6);
    text-decoration-thickness: 2px;
}

.date-group {
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.param-group {
    width: 90%;
    height:auto;
    margin: 45px;
    border-spacing:70px 10px;
    margin-bottom:10px;
}

.param-input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.param-input {
    /* Plate Number */

    width: 309.73px;
    height: 27.47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

.save-btn {
    /* Rectangle 11 */
    width: 132.65px;
    height: 34.33px;
    background: #075E83;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    margin-left: 220px;
    border: #075E83;
}
.delete-btn {
    /* Export btn */
    width: 132.65px;
    height: 34.33px;
    background: #B1230D;
    border-radius: 5px;
    /* Delete */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 8px;
    margin-left: 35px;
    border: #B1230D;
}

/* Navbar */
.navbar {
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 302.25px;
    height: 824px;
    background: linear-gradient(180deg, #192655 66.1%, #000B30 100%);
    display: flex;
    flex-direction: column;
}
/* CroppedLogo 1 */
.logo {
    width: 182px;
    height: 164px;
    background: url(CroppedLogo.png);
    object-fit: fill;
    margin: 0 auto;
    margin-top: 35px;
}

.links {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}

.link-text {
    /* Sign out */
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    /* identical to box height */
    color: #FFFFFF;
    text-align: center;
    margin-top: 2px;
    cursor:pointer;
}
/* Street 1 selection */
.selection {
    width: 216.44px;
    height: 34.33px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-top: 3px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
}

.data-group {
    display: flex;
    flex-direction: row;
}

.filter-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
}

.filter-heading {
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 8px;
    /* identical to box height */
    color: #000000;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.filter-text {
    position: relative;
    font-family: 'Faustina';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 3px;
    /* identical to box height */
    color: #000000;
}

.checkbox {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 0.2px solid #000000;
}

.radio {
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    background: #FFFFFF;
    border: 0.3px solid #000000;
}

.search-button {
    box-sizing: border-box;
    width: 76.8px;
    height: 20.6px;
    background: #075E83;
    border: 0.1px solid rgba(0, 0, 0, 0.7);
    border-radius: 7.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    color: #FFFFFF;
}

.search-input {
    /* Plate Number */

    width: 104.73px;
    height: 27.47px;
    font-family: 'Jomhuria';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    padding-left: 5px;
    padding-top: 4px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.table-container {
    width: 1143.9px;
    height: 426.33px;
    box-sizing: border-box;
    background: #D1CCDC;
    border: 0.5px solid rgba(0,0,0,0.3);
    margin:0 auto;
    margin-top: 10px;
}

.table-group {
    width: 98%;
    height: auto;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
    padding: 0;
    border-spacing: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

    .table-group tr {
        padding: 10px;
        height: 50px;
        padding: 10px;
        border-bottom: 0.5px solid rgba(0,0,0,0.3);
        width: 90%;
        cursor: pointer;
    }

        .table-group tr:nth-child(1) {
            padding: 10px;
            height: 50px;
            padding: 10px;
            border-bottom: 0.5px solid rgba(0,0,0,0.6);
            width: 90%;
            cursor: default;
        }


    .table-group td {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        border: 1px black;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        border-right: 0.5px solid rgba(0,0,0,0.3);
    }

        .table-group td:nth-child(3) {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            border: 1px black;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            width: 90%;
        }

    .table-group th {
        height: 25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        border: 5px black;
        overflow: hidden;
        white-space: nowrap;
    }




.line {
    /* Line 1 */

    width: 202.47px;
    height: 0px;
    border: 0.1px solid #000000;
}

.line_hor {
    /* Line 1 */
    margin-top: 25px;
    margin-bottom: 5px;
    width: 0px;
    height: 27px;
    border: 0.1px solid #000000;
}
